* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header  */
.header {
  padding: 31px 0;
  text-align: center;
  background-color: #145f94;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.9px;
}
/* wrapper  */
.wrapper {
  padding: 38px 145px;
}
/* left section  */
.left {
  float: left;
  width: 876px;
}
/* right section  */
.right {
  float: right;
  width: 539px;
}
/* card  */
.card {
  margin-bottom: 21px;
  border: 1px solid #2d5e90;
  .card-title {
    padding: 13.5px 27px;
    background-color: #2a5e91;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: #fff;
  }
  .card-description {
    padding: 22px 25px;
    text-align: justify;
    line-height: 1.54;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-size: 17px;
    font-weight: 100;
    word-spacing: 1.4px;
  }
}

/* doordarshan card  */
#doordarshan{
word-spacing: 2.6px;
}
/* right section  */
.right{
    .card{
        margin-bottom: 25px;
    }
    .card-description{
        word-spacing: 1.55px;
    }
}
