* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: sans-serif;
  line-height: 1.1; /* 16px * 1.5 = 24px total line height */
}
.header {
  background-color: #145f94
;
  padding-top: 2rem;
  padding-bottom: 1.9rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2.31rem;
  p {
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.main {
  padding-left: 9.125rem;
  padding-right: 9rem;
}
.left {
  float: left;
  width: 54.8rem;
}
.right {
  float: right;
  width: 33.75rem;
  right: 10rem;
  top: 0;
}
.left-card {
  border: 1px solid #04127a;
  margin-bottom: 1.1rem;
  width: 100%;
  background-color: #f6f6f6;
}
/* #Doordarshan {
  min-height: 22.6875rem;
}
#SonyNetwork {
  min-height: 10rem;
}
#ZeeNetwork {
  min-height: 17.5rem;
} */
.right-card {
  border: 1px solid #04127a;
  margin-bottom: 28px;
  width: 100%;
  background-color: #f6f6f6;
}
/* #SunNetwork {
  min-height: 29rem;
  line-height: 1.5rem;
}

#StarNetwork {
  min-height: 19.3rem;
} */
.card-title {
   background-color: #145f94;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
}
.card-description-wrapper{
    padding: 15px;
}
.card-description {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8rem;
  background-color: yellow;
}

#SonyNetwork{
    line-height: 1;
    font-size: 1.2rem;
}
