* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("./assets/background-image.png") no-repeat 75% 5% fixed;
  z-index: 0;
}
.menu-container {
  position: absolute;
  top: 2.7rem;
  width: 5.625rem;
  height: 6.1875rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}
.ham-menu {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 3.9rem;
  cursor: pointer;
  .ham-icon {
    position: absolute;
    top: 120%;
  }
}
.ham-line {
  width: 2.1rem;
  height: 0.2rem;
  background-color: #fff;
  margin-bottom: 0.3rem;
}
.menu-container:hover .menu-list-container {
  transform: translateX(0);
}
.logo-container {
  text-align: center;
  padding-top:2.5rem;
  padding-bottom: 0.8rem;
  transform: scale(0.9);
}
.menu-list-container {
  position: absolute;
  top: 6rem;
  width: 16.9375rem;
  height: 48.935rem;
  cursor: pointer;
  border-top-right-radius: 2.1875rem;
  border-bottom-right-radius: 2.1875rem;
  background-color: black;
  transform: translateX(-100%);
  transition: all 500ms linear;
  li {
    padding: 0.7375rem 0;
    font-size: 1.25rem;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 200;
    text-align: center;
    transition: all 100ms linear;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.heading {
  position: absolute;
  top: 3.25rem;
  left: 36.5%;
  color: #fff;
  font-size: 5.6rem;
  letter-spacing: 0.0625rem;
}
.tagline {
  position: absolute;
  width: 43.75rem;
  bottom: 2.5rem;
  color: #fff;
  line-height: 1;
  left: 31.5%;
  font-size: 6.8rem;
  font-family: sans-serif;
  .tagline-highlight {
    font-size: 8.75rem;
  }
}
.year {
  position: absolute;
  top: 12rem;
  right: -7.1rem;
  font-size: 3.3rem;
  color: #fff;
  transform: rotate(270deg);
}
.year-highlight {
  font-size: 9rem;
}
.icons {
  position: absolute;
  bottom: 1.625rem;
  right: 1.625rem;
  cursor: pointer;
  .icon {
    font-size: 2.1875rem;
    color: #fff;
    margin-left: 1.25rem;
    transition: all 200ms linear;
    &:hover{
      transform: scale(1.1);
    }
  }
}
