* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background: url("./assets/background-image.png") no-repeat 75% 5% fixed;
  background-size: auto;
  z-index: 0;
}
.wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}
.menu-container {
  position: absolute;
  top: 3.125rem;
  width: 5.625rem;
  height: 6.1875rem;
  color: #fff;
  background-color: #000;
}
.ham-menu {
  position: absolute;
  top: 18%;
  left: 15%;
  font-size: 3.5rem;
  cursor: pointer;
}
.menu-container:hover .menu-list-container{
    transform: translateX(0);
}
.logo-container{
    text-align: center;
    padding:1.75rem 0;
}
.menu-list-container{
    position: absolute;
    top: 6.2rem;
    width: 16.9375rem;
    height: 53.625rem;
    border-top-right-radius: 2.1875rem;
    border-bottom-right-radius: 2.1875rem;
    background-color: #000;
    transform: translateX(-100%);
    transition: all 500ms linear;
    li{
        padding: 0.9375rem 0;
        font-size: 1.25rem;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: 200;
        text-align: center;
        &:hover{
            background-color:#1f1f1f;
        }
    }
}
.heading {
  position: absolute;
  top: 3.25rem;
  left: 36.5%;
  color: #fff;
  font-size: 5.6rem;
  letter-spacing: 0.0625rem;
}
.tagline {
  position: absolute;
  width: 43.75rem;
  bottom: 3.4rem;
  color: #fff;
  left: 31.5%;
  font-size: 4rem;
  font-family: sans-serif;
  .tagline-highlight {
    font-size: 8.75rem;
  }
}
.year {
  position: absolute;
  top: 12rem;
  right: -7.1rem;
  font-size: 3.3rem;
  color: #fff;
  transform: rotate(270deg);
}
.year-highlight{
    font-size: 9rem;
}
.icons{
    position:absolute;
    bottom: 1.625rem;
    right: 1.625rem;
    .icon{
        font-size: 2.1875rem;
        color: #fff;
        margin-left: 1.25rem;
    }
}
