* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 1.9375rem;
  background-color: #b4df91;
  color: #000;
  .logo {
    font-size: 1.1875rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
  }
  .platform{
    letter-spacing: 0.125rem;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4.5625rem);
  .section-title {
    font-size: 3.125rem;
    font-weight: 400;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.one {
  padding-top: 15.5rem;
}
.two {
  padding-top: 19.0625rem;
  gap: 3.375rem;
}
.three {
  position: relative;
  padding-top: 10.4375rem;
  gap: 2rem;
}
.hide {
  display: none;
}
.shapes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.5625rem;
  position: relative;
  padding-top: 6.25rem;
}
.tick {
  display: none;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 3.125rem;
  height: 1.45rem;
  border-left: 0.175rem solid #fff;
  border-bottom: 0.175rem solid #fff;
 
  transform: rotate(-50deg);
  color: #fff;
}
.triangle {
  .tick {
    position: relative;
    top: 4.9875rem;
    left: -1.5625rem;
  }
}
.shape.selected .tick {
  display: block;
}
.shape {
  position: relative;
  width: 9.6875rem;
  height: 9.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.6875rem;
  height: 9.6875rem;
  border-radius: 50%;
  background-color: #43967d;
  cursor: pointer;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5rem 10.0125rem 5rem;
  border-color: transparent transparent #f3afda transparent;
  transform: rotate(0deg);
}
.square {
  width: 9.6875rem;
  height: 9.6875rem;
  background-color: #e0e0e0;
  cursor: pointer;
}
.shapes span.selected::after {
  content: "";
  position: absolute;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-one-btn {
  display: none;
  margin-top: 5.8125rem;
  padding: 1.0625rem 4.8125rem;
  background-color: transparent;
  color: #fff;
  border: 0.125rem solid #fff;
  border-radius: 0.3125rem;
  font-size: 1.25rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    transform: scale(1.1);
  }
}
.section-two-btn {
  padding: 0.8125rem 2.5rem;
  background-color: transparent;
  color: #fff;
  border: 0.125rem solid #fff;
  border-radius: 0.3125rem;
  font-size: 1.4rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    transform: scale(1.1);
  }
}

.input-field {
  width: 44.625rem;
  height: 5.3125rem;
  font-size: 3rem;
  padding: 0 1rem;
  background-color: transparent;
  border: 0.125rem solid #fff;
  color: #fff;
}
.input-field:focus {
  outline: none;
}
.measurements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.9375rem;
  width: 100%;
}
.measurement {
  display: flex;
  align-items: center;
  min-width: 27%;
  max-width: 50%;
  font-size: 1.2rem;
  font-weight: 400;
  .left-side {
    flex: 1.5;
    padding: 0.75rem 1.0625rem;
    background-color: #2c60cf;
  }
  .middle {
    flex: 1.5;
    padding: 0.75rem 1.0625rem;
    background-color: #4a5c7b;
  }
  .right-side {
    flex: 2;
    padding: 0.75rem 1.0625rem;
    background-color: #4a86f7;
  }
}
.section-three-btn {
  background-color: transparent;
  color: #fff;
  margin-top: 3.4375rem;
  padding: 0.75rem 2rem;
  border: 0.125rem solid #fff;
  border-radius: 0.3125rem;
  font-size: 1.4rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    transform: scale(1.1);
  }
}
