$primary-color: #fff;
$secondary-color:#cecece;
$background-color: #000;
$hero-highlight:#5c8fdc;
$customer-highlight:#c0e891;
$tablet-breakpoint: 1024px;
$medium-tablet-breakpoint: 992px;
$mobile-breakpoint: 768px;