/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

/* wrapper layout */

.wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 36px;
}

/* logo */

.wrapper .logo-container {
  margin-top: 0.4rem;
  transform: scale(0.5);
}

/* tabs container width */

.wrapper #tabs {
  /* width: 632px; */
  border: none;
  background: transparent;
}

/* tabs header layout */

.wrapper #tabs .ui-tabs-nav {
  display: flex;
  gap: 10px;
  border: none;
  padding-left: 18px;
  background: none;
}
.ui-widget-header {
  background: transparent;
}


.wrapper #tabs .ui-tabs-nav li {
  list-style: none;
  border: none;
  background-color: none;
}

#tabs .ui-tabs-nav li.ui-tabs-active a {
  background-color: #061a6c;
  color: white;
}
/* tab buttons */

.wrapper #tabs .ui-tabs-nav li a {
  display: block;
  text-align: center;
  padding: 10px 32px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px 8px 0 0;

}

.wrapper #tabs .ui-tabs-tab {
  border-radius: 5px 5px 0 0;

  background: #000;
  z-index: 4;
}

.sections {
  width: 631px;
  height: 561px;
  box-shadow: 1px 1px 10px 0.5px #00000050;
  padding: 14px 8px;
}
#section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5625rem;

  /* padding-bottom: 32px; */
}

/* ABOUT image */

#section-one .image-container {
  width: 100%;
  width: 576px;
  height:240px
}
#section-one {
  line-height: 1.44;
  font-size: 13.9px;
}

#section-one .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SOLUTIONS accordion section */

#section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* accordion layout */

#accordion {
  display: flex;
  flex-direction: column;
  border: none;
  background: transparent;
  gap: 10px;
  width: 100%;
}

/* accordion header */

#accordion .ui-accordion-header {
  background: #838eb6;
  color: #fff;
  border: none;
  padding: 18px 10px;
  font-size: 11.4px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* active accordion header */

#accordion .ui-accordion-header.ui-state-active {
  background-color: #3f3c96;
}

/* triangle icon white */

#accordion .ui-icon {
  filter: brightness(0) invert(1);
    transform: scale(0.7); 
}

/* accordion content */

#accordion .ui-accordion-content {
  margin-top: -10px;
  border: 1px solid #acb3ce;
  padding: 20px;
  font-size: 12px;
  border-radius: 0;
}

/* LOCATIONS section */

#section-three {
  display: flex;
  flex-direction: column;
  height: 34rem;
  overflow-y: scroll;
  /* row-gap: 0.625rem; */
  font-size: 0.6875rem;
}

/* location card */

#section-three .location-card {
  display: flex;
  align-items: center;
  padding:5px 10px ;
  margin-bottom: 10px;
}

/* city */

#section-three .city {
  flex: 23.33%;
  margin-left: 10%;
}

/* phone */

#section-three .contact-number {
  flex: 13.33%;
  text-align: right;
}

/* country */

#section-three .country {
  display: flex;
  align-items: center;
  column-gap: 3.125rem;
  flex: 30%;
}

/* flag */

#section-three .flag {
  width: 1.5625rem;
  height: 1.5625rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;

}

#section-three .flag img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  scale: 1.6;
}

/* alternating colors */

#section-three .location-card:nth-child(odd) {
  background-color: #eeeeee;
}

#section-three .location-card:nth-child(even) {
  background-color: #eedaf5;
}
